@import "styles/utils/base.module";
@import "styles/utils/variables";

.v1-header {
  display: flex;
  justify-content: space-between;
}

.v1-app-bar-container {
  background-color: $v1-white-light;
}

